body {
  margin: 0;
  padding: 0;
}

header, footer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  flex: auto;
}

.navbar, .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.navbar {
  /* justify-content: space-around; */
  height: 80px;
  align-items: flex-start;
  padding-top: 18px;
}

.header-logo {
  font-size: 32px;
  font-weight: 800;
  color: #f9faf8;
}

ul {  
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: e5e7eb;
  font-size: 18px;
}

.add {
  font-size: 18px;
  color: #f9faf8;
  width: 410px;
  margin-bottom: 82px;
}

h1 {
  font-size: 48px;
}

.sign-up {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 6px 28px;
  border: 2px solid #1f2937;
  border-radius: 9px;
}

.placeholder {
  width: 520px;
  height: 280px;
  border: 2px solid rgb(248, 107, 6);
  border-radius: 20px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

article {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.article-image {
  width: 160px;
  height: 160px;
  border: 2px solid #3882f6;
  border-radius: 4%;
}

.text {
  margin: 12px 0;
}

.info {
  min-width: 200px;
}

.quote {
  background-color: #e5e7eb;
  padding: 24px;
  margin: 20px 0;
}

blockquote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  width: 44%;
  margin: 0 auto;
}

.quote p {
  width: 44%;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

#sign-up {
  width: 70%;
  margin: 60px auto;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e5e7eb;
  background-color: #3882f6;
}

.content-sign-up h3 {
  font-size: 28px;
}

.content-sign-up p {
  font-size: 18px;
}

#sign-up button {
  color: #e5e7eb;
  font-size: 18px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  background-color: #3882f6;
}

footer {
  justify-content: center;
  align-items: center;
  padding: 12px;
}

footer a {
  color: white;
  text-decoration: none;
}